.Cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    padding: 10px;
}

.Cardd{
    display: grid;
    grid-template-rows: 60% 10% 10% 10% 10%;
    /* flex-direction: column; */
    /* justify-content: flex-stacrt; */
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 187, 187);
    border-radius: 10%;
    height: 400px;;
    padding: 1%;
    
    }
.cardImg{
    border-radius: 10%;
  transform: scale(0.7);
  


}
.Cardd h3{
    font-size: 23px;

}
.Cardd h5{
    font-size: 18px;
    

}
.child{
width: 100%;
text-align: center;
margin-top: 3px;

}
.buttons{
    display:  flex;
    flex-direction: row;
    justify-content: center;
    /* width: 90%; */

}
.button{
    text-decoration: dashed;
    font-size: 16px;    
    border-radius: 15%;
    padding: 3%;
    width: 20%;
   color: black;
}
.editButton{
    background-color: #c5c8cc;

}
.deleteButton{
    background-color: #c00909;

}
.cardDetails{
    font-weight: bold;
    text-decoration: none;
    /* padding: 1%; */
    padding: 1% 0;

}